html, body{
  margin: 25px;
  height: 100%;
  width: 100%;
}

key {
  background-color: lightgrey;
  width: 100%;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}

value{
  border: 2px solid grey;
}

right{
  background-color: lightgrey;
  width: 5px;
  border: 5px solid lightgreen;
  padding: 5px;
  margin: 5px;
}
